<div class="row">
    <div class="col-md-12">
        <h1>List Categories</h1>
        <div ng-show="alert" class="alert alert-danger" role="alert">
            {{ alert }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="#/">Home</a></li>
            <li role="presentation"><a href="#/items">Items</a></li>
            <li role="presentation" class="active"><a href="#/categories">Categories</a></li>
        </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="#/categories/new" class="list-group-item">Create new categories</a>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered table-hover table-responsive">
            <tr ng-repeat="category in categories">
                <td><decorate-category></decorate-category></td>
                <td><a href="" ng-click="editCategory(category)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> edit </a></td>
                <td><a href="" ng-click="removeCategory(category)" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> remove </a></td>
            </tr>
        </table>
    </div>
</div>