<div class="row">
    <div class="col-md-12">
        <h1>List items</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="#/">Home</a></li>
            <li role="presentation"><a href="#/items">Items</a></li>
            <li role="presentation"><a href="#/categories">Categories</a></li>
        </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="#/users/new" class="list-group-item">Create new user</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-4" >
            <img src="{{ session.password.profileImageURL }}" class="img-circle">
        </div>

        <div class="col-md-8">
            <h3>User</h3>
            <h6>Email: {{ session.password.email }}</h6>
        </div>

    </div>
</div>